# Ignore
venv/
__pycache__/
*.pyc
.env
temp/
cache/
output/
models/*.pth
models/*.pt
third_party/
*.egg-info/
dist/
build/
input/
scripts
.agents
video_dubbing_ai/models/
models/wav2lip/wav2lip_gan.pth